


.add-widget-styling {
    font-size: 2.4em;
    font-family: FontAwesome;
    color: #00703C;
    transition: all .2s linear;
}

.add-user-container-styling {
    border: 0;
    box-shadow: 0 0 10px white;
}

.add-user-container-struct {
    width: 80%;
    padding: 10px;
    display: inline-block;
    margin: 2%;
    position: relative;
    height: 15em;
    vertical-align: top;
}

.add-user-widget-struct {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.add-user-widget-styling {
    font-family: FontAwesome;
    font-size: 4em;
    color: #FFB03A;
    transition: all .2s linear;
}

    .add-user-widget-styling:hover {
        color: rgb(71,209,103);
    }

.availableCell {
    background-color: rgb(17,203,99);
}

.button-one-struct {
    padding: 15px 50px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin: 24pt auto;
    display: block;
}

    .button-one-struct:hover {
        background-color: #414141;
    }

    .button-one-struct:active {
        background-color: #2ecc71;
        transform: translateY(4px);
    }

.button-two-struct {
    border-radius: 4px;
    background-color: #ffb987;
    border: none;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    display: block;
    color: white;
    margin: 17pt auto;
}


    .button-two-struct span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button-two-struct span:after {
            content: '+';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button-two-struct:hover span {
        padding-right: 25px;
    }

        .button-two-struct:hover span:after {
            opacity: 1;
            right: 0;
        }


.cal-body-struct {
    width: 90%;
    height: 70%;
    table-layout: fixed;
    display: table;
    margin-top: .7em;
}

.date-nodes-struct {
    width: 100%;
    display: inline-block;
}

.date-node-single-styling {
    color: white;
}

.cal-cell-struct {
    display: table-cell;
    position: relative;
    width: 13%;
    height: 15%;
}

.cal-inactive-cell-struct {
    display: table-cell;
    position: relative;
    width: 13%;
    height: 15%;
}

.cal-header-row-struct {
    width: 100%;
    text-align: center;
    display: table-row;
}

.cal-header-struct {
    display: table-cell;
    width: 14%;
    overflow: hidden;
}

.cal-monthHeader-struct {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 1em;
}

.cal-title-struct {
    width: 75%;
    text-align: center;
    display: inline-block;
}


.cal-cell-date-struct {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 56%;
    margin-top: -16px;
}

.cal-row-struct {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table-row;
}

.date-node-struct {
    width: 100%;
    margin-top: 5pt;
    border-radius: 4pt;
    padding: 5px;
    display: inline-block;
}

.time-node-struct {
    width: 120px;
    border-radius: 4pt;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.time-node-styling {
    color: #fff;
    background-color: #45C5EC;
    transition: all .2s linear;
}

    .time-node-styling:hover {
        color: white;
        background-color: rgb(17,203,99);
    }

.date-node-single-struct {
    width: 60%;
    margin-top: 5pt;
    padding: 5px;
    display: inline-block;
    position: relative;
    border-bottom: solid white 2px;
    border-radius: 0;
    opacity: 1;
}

.interview-card-struct {
    width: 90%;
    cursor: pointer;
    margin: 1em;
}

.interview-card-field-struct {
    display: block;
    width: 100%;
    height: auto;
}

.interview-card-field-styling {
    color: #1B6DBA;
    text-align: left;
    font-size: .8em;
}

.form-event-struct {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10pt;
    margin-left: .2em;
    margin-right: .2em;
    overflow-x: auto;
    background: white;
}

.field-titleWrapper-struct {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 0px;
}

    .field-titleWrapper-struct span {
        color: white;
        margin-left: 5pt;
        margin-bottom: 4pt;
        display: block;
        float: none;
        text-align: left;
        width: auto !important;
    }

.field-spannedWrapper-struct span {
    color: white;
    margin-bottom: 4pt;
    display: block;
    float: none;
    text-align: left;
    width: auto !important;
}

.field-spannedWrapper-struct {
    width: 100%;
    padding: 4px;
    display: block;
    position: relative;
}

.field-wrapper-struct {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    /*! padding: 4px; */
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    /*! margin-left: 10%; */
}

    .field-wrapper-struct input {
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        box-shadow: none;
        width: 100%;
        height: 2em;
        font-size: 100%;
        color: #999998;
    }

    .field-wrapper-struct span {
        margin-bottom: 4pt;
        font-family: "Open Sans", sans-serif;
        display: block;
        float: none;
        /*! width: auto; */
        font-size: 1em;
        text-align: left;
    }

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form-repeater-ctrl-struct {
    cursor: pointer;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.5em;
    margin-bottom: 1em;
}


.logo-area-struct {
    padding-left: 5%;
    padding-top: .3em;
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 2em;
    font-family: FontAwesome;
    border-right: solid white 1px;
    padding-right: .2em;
    box-sizing: border-box;
    cursor: pointer;
    height: 56px;
    overflow: hidden;
}

.logo-area-styling {
    color: white;
}

.logo-areaCompany-struct {
    margin-left: 8%;
    margin-top: .3em;
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 2em;
    font-family: FontAwesome;
    max-height: 3em;
    max-width: 4em;
    display: none;
}

.logo-areaCompany-styling {
    color: #0F7848;
}

.main-header-struct {
    text-align: center;
    height: 56px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #73C573;
    float: none;
    margin: 0;
    overflow: hidden;
}

.main-header-styling {
}

.modal-form-struct {
    position: fixed;
    top: 2%;
    left: 5%;
    width: 90%;
    height: auto;
    z-index: 11;
    overflow-y: scroll;
    padding-bottom: 60px;
    bottom: 0;
    overflow-x: hidden;
}

    .modal-form-struct hr {
        display: block;
        border: none;
        width: 80%;
        background: #efefef;
        margin-bottom: 25px;
        height: 2px;
    }

.remove-widget-struct {
    position: absolute;
    width: 25px;
    left: 100%;
    top: 2px;
    margin-left: -30px;
    cursor: pointer;
    font-size: 1.5em;
}

.ui-node-area-struct {
    display: block;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10pt;
    overflow-wrap: break-word;
}

.ui-user-node-struct {
    width: 100%;
    display: inline-block;
    margin: 1em auto;
    position: relative;
    min-height: 18em;
    height: auto;
    max-height: 24em;
}

.ui-user-node-styling {
    border: 0;
    transition: all .2s linear;
    box-shadow: 0 0 4px #444;
    background-color: white;
}

.ui-user-node-header-struct {
    margin: 25px;
    vertical-align: baseline;
    text-align: left;
    font-size: 1.2em;
}

.ui-user-node-info-struct {
    padding: 4%;
}

.user-date-node-struct {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 4em;
    bottom: 0;
    left: 0;
    background: #00703C;
    opacity: .80;
    transition: all 0.15s;
    overflow-y: auto;
    cursor: pointer;
}

    .user-date-node-struct:hover .date-node-single-struct {
        opacity: 1;
    }

    .user-date-node-struct:hover {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        cursor: pointer;
    }
/******Begin Normal Classes*****/


.spacer {
    height: 20px;
}

/***********styling classes*******************/
hr {
    color: #e6e6e6;
}

#adri-ras-calendar-control {
}

.content-area-styling {
    color: #999998;
    font-family: "Open Sans", sans-serif;
    background: white;
}

.int-info-container-styling {
}

.int-controls-styling {
}

.int-control-widget-styling {
    font-family: FontAwesome;
    font-size: 2em;
    transition: all .2s linear;
    color: #d8f7d8;
}

    .int-control-widget-styling:hover {
        color: white;
        cursor: pointer;
    }

.interview-card-styling {
    color: white;
}


.interview-card-text-styling {
    text-align: left;
    color: #999998;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
}

.interview-card-row-styling {
    /*! transition: all .2s linear; */
}

.cal-button-styling {
    font-size: 20pt;
}

.remove-widget-styling {
    font-family: FontAwesome;
    color: red;
    transition: all .2s linear;
}

    .remove-widget-styling:hover {
        color: rgb(202,99,86);
    }

.remove-widgetDynamic-styling {
    font-family: FontAwesome;
    color: red;
    transition: all .2s linear;
}

    .remove-widgetDynamic-styling:hover {
        color: rgb(202,99,86);
    }


.cal-title-styling {
    font-size: 20pt;
    letter-spacing: 1px;
}

.cal-inactive-cell-styling {
    color: #999;
    border: 1px solid;
}

.cal-cell-styling {
    background-color: none;
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid white;
}

    .cal-cell-styling:hover {
        background-color: rgb(61, 166, 247);
        color: white;
        font-weight: bold;
    }

.cal-cell-date-styling {
    font-size: 12pt;
}

.cal-row-styling {
}

.cal-body-styling {
    color: white;
}

.cal-header-styling {
}

.cal-header-row-styling {
    font-weight: normal;
    font-size: .8em;
}

.cal-footer-row-styling {
}

.submit-button-styling {
    border: none;
    border-radius: 20pt;
    background-color: rgba(248, 163, 84, 1);
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    color: white;
}

.date-node-styling {
    color: #fff;
    background-color: #45C5EC;
}


.date-nodes-styling {
}

.form-event-styling {
}

.field-wrapper-styling {
    color: #999998;
    font-weight: normal;
}

.field-titleWrapper-styling {
    color: #444;
    font-weight: normal;
}

.field-spannedWrapper-styling {
    color: #444;
    font-weight: normal;
}

.form-section-styling {
}

.inputSmall-styling {
    font-size: 14pt;
    font-family: 'Segoe UI Light';
    border: 1px solid #ccc;
}

.inputLarge-styling {
    font-size: 16pt;
    font-family: 'Segoe UI Light';
    border: 1px solid #ccc;
}

.timeSelect-styling {
    border-color: #9fe4f8;
    background-color: transparent;
    color: white;
    font-family: Segoe UI Light;
    font-size: 12pt;
}

    .timeSelect-styling option {
        color: white;
        background-color: #45C5EC
    }

.form-user-node-styling {
}

.ui-user-node-info-styling {
}


.ui-user-node-styling:hover {
}

.ui-user-node-header-styling {
}

.ui-user-node-body-styling {
    font-weight: 300;
}

.ui-node-area-styling {
}

.form-repeater-ctrl-styling {
    color: white;
}

.new-event-title-styling {
    font-size: 20pt;
    font-weight: bold;
}

[nohighlight]::selection {
    background: none; /* Safari */
}

[nohighlight]::-moz-selection {
    background: none; /* Firefox */
}

.modal-overlay-styling {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-form-styling {
    background: #73C573;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1981d6', endColorstr='#1e5799',GradientType=1 );
    border: 1px solid #888;
    display: none;
}

.ui-table-styling {
}

.ui-row-styling {
    transition: all .2s linear;
}

    .ui-row-styling:hover {
        color: white;
        background-color: rgb(165,165,165);
    }

.ui-cell-styling {
}

.ui-header-row-styling {
}

.ui-header-cell-styling {
}

.indicator-invalid-styling {
    background-color: rgb(178,34,34);
}

.indicator-interviewer-styling {
    background-color: rgb(238,64,0);
}

.indicator-candidate-styling {
    background-color: rgb(255,193,37);
}

.indicator-recruiter-styling {
    background-color: rgb(0,205,0);
}

.indicator-scheduled-styling {
    background-color: rgb(0,104,139);
}

/***********end styling classes***************/

/***********structural classes****************/

html,
body {
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 fallback on horizontal gradient */
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
    background: white;
}

.spacer {
    height: 20px;
}

.bigSpacer {
    height: 250px;
}

.availableCell {
    background-color: rgb(17,203,99);
}

.availableCell-inactive {
    background-color: rgba(17,203,99,.5);
}

.scheduled-interview-info {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wv-cell-date {
    width: 98%;
    margin-top: 1em;
}

.position-add-control {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pool-node {
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.2em;
    background: #73C573;
    color: white;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
    border-bottom: solid 1px white;
}

    .pool-node:hover {
        background-color: #00703C;
    }

    .pool-node:active {
        background-color: #2ecc71;
        transform: translateY(4px);
    }


.interview-sch-node {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: solid #d8f7d8 1px;
    margin-top: 5px;
}

    .interview-sch-node:hover {
        border-bottom: solid #FFB034 2px;
    }


.ckable {
    transition: all .2s linear;
    cursor: pointer;
}

    .ckable:hover {
    }

.ckablef {
    transition: all .2s linear;
    cursor: pointer;
}

    .ckablef:hover {
        color: white;
    }

.smallForm {
    width: 100%;
    text-align: center;
}

.smallFormFields {
    display: inline-block;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
    margin-top: 1em;
    padding: 1em;
}

.bigWidget {
    font-family: FontAwesome;
    font-size: 36pt;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 36pt;
    margin-left: 40%;
}

.centered {
    text-align: center;
}

.cycle-weekly-calendar {
    position: relative;
    float: none;
    height: auto;
    display: inline-block;
    background-color: #999998;
    width: 49.75%;
    margin-bottom: .2em;
    border-left: solid white 1px;
}

.wvHeader {
    display: table-cell;
    height: auto;
    margin-bottom: 1em;
}

.wvCalBody {
    width: 100%;
    table-layout: fixed;
    display: table;
    margin-top: .4em;
}

.bucket-label {
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #FFB034;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: white;
}

/***********styling classes*******************/
hr {
    color: #e6e6e6;
}

#adri-ras-calendar-control {
    color: white;
    font-family: "Open Sans", sans-serif;
}

.content-area-struct {
}

.int-info-container-struct {
    width: 100%;
    position: relative;
    min-height: 75px;
}

.int-controls-struct {
    position: absolute;
    right: 5%;
    top: .6em;
    margin-right: 10px;
}

.int-control-widget-struct {
    cursor: pointer;
    display: inline-block;
    margin-left: .3em;
}


.interview-card-text-struct {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.interview-card-row-struct {
    display: inline-block;
    border-radius: 10pt;
    margin: 2pt;
    border-color: black;
}

.inputSmall-struct {
    border-radius: 3pt;
    height: 14pt;
}

.inputLarge-struct {
    width: 100%;
    border-radius: 3pt;
    height: 24pt;
}

.cal-button-struct {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
    width: 25px;
    text-align: center;
}

.add-widget-struct {
    width: 100%;
    cursor: pointer;
    display: block;
    position: relative;
}

.add-widget-wrapper {
    width: 20%;
    cursor: pointer;
    right: 0;
    float: right;
    height: 100%;
    position: absolute;
    top: 30%;
}

.remove-widgetDynamic-struct {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.submit-button-struct {
    width: 150px;
    height: 50px;
}

.cal-wrapper-struct {
    width: auto;
    max-height: 405px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    height: auto;
    position: relative;
}

.cal-footer-row-struct {
    width: 100%;
    text-align: center;
    padding-bottom: 10pt;
    margin-top: 5px;
}



.timeSelect-struct {
    padding: 3pt;
    border-radius: 4pt;
}


.form-section-struct {
    padding: 0px 0px 0px 0px;
    position: relative;
    display: block;
    zoom: 1;
    clear: both;
    margin: 0px;
}

.field-wrapper-struct span {
    margin-bottom: 4pt;
    font-family: "Open Sans", sans-serif;
    display: block;
    float: none;
    width: auto !important;
}



.field-spannedWrapper-struct input {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 100% !important;
    height: 14pt;
    border: 1px solid #ccc;
}


.field-titleWrapper-struct input {
    height: 24pt;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 4px 3px 2px 3px;
    width: 100% !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: initial !important;
}



.form-user-node-struct {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10pt;
    margin-left: .2em;
    margin-right: .2em;
    overflow-x: auto;
    background: white;
}

.form-user-node-header-struct {
    font-size: 1.1em;
    color: #73C573;
    box-shadow: 0px 3px 1px -1px #73C573;
    margin-bottom: 1em;
    margin-top: .5em;
    text-align: left;
    font-weight: 700;
}

.ui-user-node-struct hr {
    display: block;
    border: none;
    width: 30px;
    background: #efefef;
    margin-bottom: 25px;
    margin-left: 25px;
    height: 2px;
}

.ui-user-node-body-struct {
    font-weight: 300;
    line-height: 20px;
    font-size: 12pt;
    text-align: left;
    margin-left: 25px;
    display: block;
    word-wrap: break-word;
}

.new-event-title-struct {
    position: relative;
    height: 24pt;
    width: 100%;
    margin-bottom: .6em;
    padding: 4pt;
}

.modal-overlay-struct {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.ui-table-struct {
    display: inline-flex;
    margin: 0 auto;
    border-spacing: 1px;
}

.ui-row-struct {
    display: table-row;
    cursor: pointer;
    font-size: .9em;
}

.ui-cell-struct {
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    padding-left: 4pt;
}

.ui-header-row-struct {
    display: table-row;
    font-size: .9em;
}

.ui-header-cell-struct {
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.indicator-struct {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 auto;
}

.weekly-view-cell-struct {
    display: table-cell;
    height: auto;
    margin-bottom: 1em;
}

    .weekly-view-cell-struct > .interview-sch-node {
        max-height: 5px;
        max-width: 5px;
        border-radius: 50%;
        background-color: #FFB987;
        margin: 0 auto;
        overflow: hidden;
        color: #FFB987;
    }

.weekly-view-inactive-cell-struct {
    position: relative;
    display: table-cell;
    height: 120px;
}

.weekly-view-inactive-cell-styling {
    color: rgb(165,165,165);
    border: 1px solid;
}

.weekly-view-cell-styling {
    cursor: pointer;
}

    .weekly-view-cell-styling:hover {
        color: #FFB034;
    }

.dashboard-sub-scheduling-struct {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    height: 300px;
    overflow: auto;
    background-color: #044972;
    color: white;
}

.dashboard-scheduling-struct {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 8pt;
}


/***********end structural classes************/

/******End Normal Classes*****/



