@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.spacer {
    height: 20px;
}

.bigSpacer {
    height: 250px;
}

.availableCell {
    background-color: rgb(17,203,99);
}

.availableCell-inactive {
    background-color: rgba(17,203,99,.5);
}

.scheduled-interview-info {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wv-cell-date {
    width: 98%;
    text-align: right;
    margin-right: 2%;
}

.position-add-control {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pool-node {
    display: inline-block;
    width: 40%;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    background: #27ae60;
    color: white;
    padding-bottom: 4px;
    padding-top: 4px;
}

    .pool-node:hover {
        background-color: #2ecc71;
    }

    .pool-node:active {
        background-color: #2ecc71;
        transform: translateY(4px);
    }

.interview-sch-node {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: solid #bcdefa 2px;
    content: '>';
    margin-top: 5px;
}

    .interview-sch-node:hover {
        border-bottom: solid #FFB034 2px;
    }

.ckable {
    transition: all .2s linear;
    cursor: pointer;
}

    .ckable:hover {
        background-color: none;
    }

.ckablef {
    transition: all .2s linear;
    cursor: pointer;
}

    .ckablef:hover {
        color: rgb(61, 166, 247);
    }

.smallForm {
    width: 100%;
    text-align: center;
}

.smallFormFields {
    display: inline-block;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
    margin-top: 1em;
    padding: 1em;
}

.bigWidget {
    font-family: FontAwesome;
    font-size: 36pt;
    height: 50px;
}

.centered {
    width: 100%;
    text-align: center;
}

.cycle-weekly-calendar {
    position: relative;
    float: none;
    height: 50px;
    display: block;
    margin: 1em;
    color: white;
}

.wvHeader {
    display: table-cell;
    height: 30px;
}

.wvCalBody {
    width: 100%;
    table-layout: fixed;
    display: table;
    color: white;
}

.bucket-label {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
}

/***********styling classes*******************/
hr {
    color: #e6e6e6;
}

#adri-ras-calendar-control {
    color: white;
    font-family: "Open Sans", sans-serif;
}

.content-area-styling {
    /*background-color:rgb(59,68,124);*/
    background: #1981d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1981d6 0%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #1981d6 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #1981d6 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1981d6', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #999998;
    font-family: "Open Sans", sans-serif;
}

.int-info-container-styling {
}

.int-controls-styling {
}

.int-control-widget-styling {
    font-family: FontAwesome;
    font-size: 24pt;
    transition: all .2s linear;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.interview-card-styling {
    color: white;
}

.interview-card-text-styling {
    /*! font-weight: bold; */
    /*! font-size: 16pt; */
    text-align: left;
    color: #999998;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
}

.interview-card-field-styling {
    color: #1B6DBA;
    text-align: left;
    font-size: .8em;
}

.interview-card-row-styling {
    transition: all .2s linear;
}

.cal-button-styling {
    font-size: 20pt;
}

.add-widget-styling {
    font-size: 18pt;
    font-family: FontAwesome;
    color: rgb(115,115,115);
    transition: all .2s linear;
}

    .add-widget-styling:hover {
        color: rgb(71,209,103);
    }

.remove-widget-styling {
    font-family: FontAwesome;
    color: red;
    transition: all .2s linear;
}

    .remove-widget-styling:hover {
        color: rgb(202,99,86);
    }

.accept-widget-styling {
    font-family: FontAwesome;
    color: rgb(66,229,71);
    transition: all .2s linear;
    font-size: 18pt;
}

    .accept-widget-styling:hover {
        color: white;
    }

.remove-widgetDynamic-styling {
    font-family: FontAwesome;
    color: red;
    transition: all .2s linear;
}

    .remove-widgetDynamic-styling:hover {
        color: rgb(202,99,86);
    }

.add-user-container-styling {
    border: 0;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
}

.add-user-widget-styling {
    font-family: FontAwesome;
    font-size: 56pt;
    color: rgb(115,115,115);
    transition: all .2s linear;
}

    .add-user-widget-styling:hover {
        color: rgb(71,209,103);
    }

.button-one-struct {
    padding: 15px 50px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin: 24pt auto;
    display: block;
}

    .button-one-struct:hover {
        background-color: #2ecc71;
    }

    .button-one-struct:active {
        background-color: #2ecc71;
        transform: translateY(4px);
    }

.button-two-struct {
    border-radius: 4px;
    background-color: #d35400;
    border: none;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    display: block;
    color: white;
    /*! margin-bottom: .3em; */
    /*! margin-left: 5%; */
    /*! margin-top: .4em; */
    margin: 4pt auto;
}


    .button-two-struct span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button-two-struct span:after {
            content: '+';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button-two-struct:hover span {
        padding-right: 25px;
    }

        .button-two-struct:hover span:after {
            opacity: 1;
            right: 0;
        }

.cal-title-styling {
    font-size: 20pt;
    letter-spacing: 1px;
}

.cal-inactive-cell-styling {
    color: rgb(165,165,165);
    border: 1px solid;
    transition: all .3s linear;
}

.cal-cell-styling {
    background-color: none;
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid white;
}

    .cal-cell-styling:hover {
        background-color: rgb(61, 166, 247);
        color: white;
        font-weight: bold;
    }

.weekly-view-inactive-cell-styling {
    color: rgb(165,165,165);
    border: 1px solid;
}

.weekly-view-cell-styling {
    background-color: none;
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid white;
}

    .weekly-view-cell-styling:hover {
        background-color: rgb(61, 166, 247);
        color: white;
    }

.cal-cell-date-styling {
    font-size: 12pt;
}

.cal-row-styling {
}

.cal-body-styling {
    color: white;
}

.card-header-styling {
    color: #999998;
    border-bottom: 3pt solid #00CE8B;
}

.cal-header-row-styling {
    font-weight: normal;
    font-size: 12pt;
}

.cal-footer-row-styling {
}

.submit-button-styling {
    border: none;
    border-radius: 20pt;
    background-color: rgba(248, 163, 84, 1);
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    color: white;
}

.date-node-styling {
    color: #fff;
    background-color: #45C5EC;
}

.date-node-single-styling {
    color: #fff;
}

.time-node-styling {
    color: #fff;
    background-color: #45C5EC;
    transition: all .2s linear;
}

    .time-node-styling:hover {
        color: white;
        background-color: rgb(17,203,99);
    }

.date-nodes-styling {
}
/*mark, next four classes have changes.*/
.form-event-styling {
    width: 690px;
    box-shadow: 0 0 1em #fff;
    border-radius: 6px;
}

.field-wrapper-styling {
    color: white;
    font-weight: 200;
}

.field-titleWrapper-styling {
    color: #444;
    font-weight: normal;
}

.field-spannedWrapper-styling {
    color: #444;
    font-weight: normal;
}

.form-section-styling {
}

.inputSmall-styling {
    font-size: 14pt;
    font-family: 'Segoe UI Light';
    border: 1px solid #ccc;
}

.inputLarge-styling {
    font-size: 16pt;
    font-family: 'Segoe UI Light';
    border: 1px solid #ccc;
}

.timeSelect-styling {
    border-color: #9fe4f8;
    background-color: transparent;
    color: white;
    font-family: Segoe UI Light;
    font-size: 12pt;
}

    .timeSelect-styling option {
        color: white;
        background-color: #45C5EC
    }

.form-user-node-styling {
    box-shadow: 0 0 10px white;
}

.main-header-styling {
}

.logo-area-styling {
    color: #1C68B1;
}

.logo-areaCompany-styling {
    color: #0F7848;
}

.ui-user-node-info-styling {
}

.ui-user-node-styling {
    border: 0;
    transition: all .2s linear;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
    background-color: white;
}

.ui-user-node-header-styling {
}

.ui-user-node-body-styling {
    font-weight: 300;
}

.ui-node-area-styling {
}

.form-repeater-ctrl-styling {
}

.new-event-title-styling {
    font-size: 20pt;
    font-weight: bold;
}

[nohighlight]::selection {
    background: none; /* Safari */
}

[nohighlight]::-moz-selection {
    background: none; /* Firefox */
}

.modal-overlay-styling {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-form-styling {
    display: none;
    background-color: #fefefe;
    border: 1px solid #888;
}

.ui-table-styling {
}

.ui-row-styling {
    transition: all .2s linear;
}

    .ui-row-styling:hover {
        color: white;
        background-color: rgb(165,165,165);
    }

.ui-cell-styling {
}

.ui-header-row-styling {
}

.ui-header-cell-styling {
}

.indicator-invalid-styling {
    background-color: rgb(178,34,34);
}

.indicator-interviewer-styling {
    background-color: rgb(238,64,0);
}

.indicator-candidate-styling {
    background-color: rgb(255,193,37);
}

.indicator-recruiter-styling {
    background-color: rgb(0,205,0);
}

.indicator-scheduled-styling {
    background-color: rgb(0,104,139);
}

/***********end styling classes***************/

/***********structural classes****************/

html,
body {
    background: #1981d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1981d6 0%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #1981d6 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #1981d6 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1981d6', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #444;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
}

.content-area-struct {
}

.int-info-container-struct {
    width: 100%;
    position: relative;
    min-height: 75px;
}

.int-controls-struct {
    position: absolute;
    right: 5%;
    top: 1em;
    margin-right: 10px;
}

.int-control-widget-struct {
    cursor: pointer;
    margin-left: .3em;
}

.interview-card-struct {
    width: 30%;
    margin-left: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.interview-card-text-struct {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.interview-card-field-struct {
    display: block;
    width: 150px;
    height: auto;
}

.interview-card-row-struct {
    display: inline-block;
    border-radius: 10pt;
    margin: 2pt;
    border-color: black;
}

.inputSmall-struct {
    border-radius: 3pt;
    height: 14pt;
}

.inputLarge-struct {
    width: 100%;
    border-radius: 3pt;
    height: 24pt;
}

.cal-button-struct {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
    width: 25px;
    text-align: center;
}

.add-widget-struct {
    text-align: center;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}

.remove-widget-struct {
    position: absolute;
    width: 25px;
    left: 100%;
    top: 2px;
    margin-left: -30px;
    cursor: pointer;
}

.accept-widget-struct {
    position: absolute;
    width: 25px;
    left: 100%;
    top: 2px;
    margin-left: -30px;
    cursor: pointer;
}

.remove-widgetDynamic-struct {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.submit-button-struct {
    width: 150px;
    height: 50px;
}

.cal-title-struct {
    width: 250px;
    text-align: center;
    display: inline-block;
}

.cal-cell-struct {
    display: table-cell;
    position: relative;
    height: 15%;
}

.dashboard-date-browser-struct {
    width: 70%;
    margin: 0 auto;
    height: 15%;
}

.dashboard-scheduling-struct {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 8pt;
}

.dashboard-sub-scheduling-struct {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    height: 300px;
    overflow: hidden;
    background-color: white;
    color: #414141;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
}

.weekly-view-cell-struct {
    display: table-cell;
    position: relative;
    height: 120px;
    overflow: auto;
}

.weekly-view-inactive-cell-struct {
    position: relative;
    display: table-cell;
    height: 120px;
}

.cal-inactive-cell-struct {
    position: relative;
    display: table-cell;
    height: 15%;
}

.cal-cell-date-struct {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 56%;
    margin-top: -16px;
}

.cal-row-struct {
    width: 100%;
    text-align: center;
    display: table-row;
}

.cal-header-row-struct {
    position: relative;
    text-align: center;
    display: table-row;
    margin-bottom: 0;
}

.cal-footer-row-struct {
    width: 100%;
    text-align: center;
    display: block;
}

.cal-wrapper-struct {
    width: 500px;
    cursor: pointer;
    height: 405px;
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: -600px;
}

.cal-body-struct {
    width: 65%;
    height: 75%;
    table-layout: fixed;
    display: table;
    margin: 0 auto;
}

.cal-header-struct {
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    width: 14%;
}

.cal-monthHeader-struct {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 1em;
}

.card-header-struct {
    display: block;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}

.date-node-struct {
    width: 100%;
    margin: 0 auto;
    border-radius: 4pt;
    padding: 10px;
}

.time-node-struct {
    width: 120px;
    border-radius: 4pt;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.date-node-single-struct {
    width: 60%;
    padding: 0px 25px 5px 25px;
    display: inline-block;
    margin: 3pt;
    text-align: left;
    overflow: hidden;
    opacity: 1;
    border-bottom: solid white 2px;
    position: relative;
}

    .date-node-single-struct:hover {
        opacity: 1;
    }

.user-date-node-struct {
    width: 100%;
    overflow: auto;
    position: absolute;
    height: 3em;
    max-height: 150px;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, #1981d6 0%,#1e5799 100%);
    opacity: .85;
    transition: all 0.15s;
}

    .user-date-node-struct:hover .date-node-single-struct {
        opacity: 1;
    }

    .user-date-node-struct:hover {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }


.date-nodes-struct {
    width: 768px;
    margin: 0 auto;
}

.timeSelect-struct {
    padding: 3pt;
    border-radius: 4pt;
    width: auto !important;
}


.form-event-struct {
    padding: 12px 12px 12px 12px;
    width: auto;
    max-width: 900px;
    margin: 14pt 20% 0pt 20%;
    min-width: 65%;
}

.form-section-struct {
    padding: 0px 0px 0px 0px;
    position: relative;
    display: block;
    zoom: 1;
    clear: both;
    margin: 0px;
}

.field-wrapper-struct {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 12px 12px 12px 0px;
    text-align: center;
    margin-left: 2%;
}

    .field-wrapper-struct input, select {
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        box-shadow: none;
        width: 300px;
        height: 2em;
        font-size: 100%;
    }

    .field-wrapper-struct span {
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif;
        display: block;
        float: none;
        text-align: left;
        font-size: 1em;
    }

.field-spannedWrapper-struct {
    width: 100%;
    padding: 12px 0px;
    display: block;
    position: relative;
}

    .field-spannedWrapper-struct span {
        color: #444;
        margin-bottom: 4pt;
        font-family: "Open Sans", sans-serif;
        display: block;
        float: none;
        text-align: left;
        width: auto !important;
    }

    .field-spannedWrapper-struct input {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        width: 100% !important;
        height: 14pt;
        border: 1px solid #ccc;
    }

.fa-user-circle-o {
    color: #0F7848;
}

.field-titleWrapper-struct {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 0px;
}

    .field-titleWrapper-struct span {
        color: #444;
        margin-left: 5pt;
        margin-bottom: 4pt;
        font-family: "Open Sans", sans-serif;
        display: block;
        float: none;
        text-align: left;
        width: auto !important;
    }

    .field-titleWrapper-struct input {
        height: 24pt;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 4px 3px 2px 3px;
        width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: initial !important;
    }

.main-header-struct {
    text-align: center;
    height: 56px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: white;
    float: none;
    margin: 0;
}

.logo-area-struct {
    margin-left: 5%;
    margin-top: .3em;
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 2em;
}

.logo-areaCompany-struct {
    font-size: 2em;
    font-family: FontAwesome;
    max-height: 3em;
    max-width: 4em;
    margin-right: 55%;
    position: absolute;
    top: 15px;
    left: 14%;
}

.add-user-container-struct {
    width: 20%;
    padding: 10px;
    display: inline-block;
    margin: 2%;
    position: relative;
    height: 239px;
    vertical-align: top;
}

.add-user-widget-struct {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.form-user-node-struct {
    width: 45%;
    padding: 10px;
    display: inline-block;
    margin-left: 2%;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.form-user-node-header-struct {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.3em;
    color: white;
    box-shadow: 0px 3px 1px -1px #FFB034;
    margin-top: .5em;
    width: 94%;
    margin-left: 2%;
    padding: 0;
}

.ui-user-node-info-struct {
}

.ui-user-node-struct {
    width: 20%;
    padding: 10px;
    display: inline-block;
    margin: 2%;
    position: relative;
    min-height: 18em;
    min-width: 16em;
    vertical-align: top;
}

.ui-user-node-header-struct {
    margin: 10%;
    vertical-align: baseline;
    text-align: left;
    font-size: 18pt;
}

.ui-user-node-struct hr {
    display: block;
    border: none;
    width: 30px;
    background: #efefef;
    margin-bottom: 10%;
    margin-left: 10%;
    height: 2px;
}

.ui-user-node-body-struct {
    font-weight: 300;
    font-size: 12pt;
    text-align: left;
    margin-left: 10%;
    display: block;
}

.ui-node-area-struct {
    display: block;
    width: 90%;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    border-radius: 10pt;
    min-width: 1200px;
    overflow-wrap: break-word;
}

.form-repeater-ctrl-struct {
    cursor: pointer;
    margin-left: 5%;
    margin-top: 2%;
}

    .form-repeater-ctrl-struct:hover {
        color: #1981d6;
    }

.new-event-title-struct {
    position: relative;
    height: 24pt;
    width: 100%;
    margin-bottom: .6em;
    padding: 4pt;
}

.modal-overlay-struct {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-form-struct {
    position: fixed;
    top: 2%;
    left: 10%;
    width: 80%;
    height: 95%;
    max-height: 97%;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1981d6;
    background: -moz-radial-gradient(center, ellipse cover, #1981d6 0%, #1e5799 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #1981d6 0%,#1e5799 100%);
    background: radial-gradient(ellipse at center, #1981d6 0%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1981d6', endColorstr='#1e5799',GradientType=1 );
    color: #999998;
    font-family: "Open Sans", sans-serif;
}

    .modal-form-struct hr {
        color: #e6e6e6;
        border: none;
        width: 90%;
        background: #999998;
        margin-left: 5%;
        height: 2px;
        display: block;
        margin-top: 40px;
        margin-bottom: -20px;
    }

.ui-table-struct {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 1px;
}

.ui-row-struct {
    display: table-row;
    cursor: pointer;
}

.ui-cell-struct {
    display: table-cell;
    width: 150px;
    vertical-align: middle;
}

.ui-header-row-struct {
    display: table-row;
}

.ui-header-cell-struct {
    display: table-cell;
}

.indicator-struct {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 auto;
}

/***********end structural classes************/
