/* client palette start */
.pBG {
    background-color:#e5e5e5;
}

.mainBG {
    background-color: rgb(0,112,60);
}

.secBG {
    background-color: rgb(96,191,65);
}

.brightBG {
    background-color:rgb(0,174,239);
}

.hlBG {
    background-color:rgb(247,143,42);
}

.hltxt {
    color:rgb(247,143,42);
}

.maintxt {
    color:rgb(89,89,89);
}

.negTxt {
    color:white;
}

.attn-text {
    color:rgb(247,143,42);
    font-weight: bold;
}

.mainHTxt {
    color: rgb(0,112,60);
    font-weight: bold;
}

.secHTxt {
    color: rgb(96,191,65);
    font-weight: bold;
}

.brightTxt {
    color:rgb(0,174,239);
    font-weight: bold;
}

.lgTxt {
    padding-top:20px;
    font-size: 24pt;
}

.loadTxt {
    color:white;
    font-weight:bold;
    font-size: 14pt;
}

.infoTxt {
    font-size: 20pt;
    color:rgb(89,89,89);
}

.ttlTxt {
    font-size: 14pt;
}

.fixedHgt {
    height:25px;
}

.warningTxt {
    color:red;
}

/* client pallette end */

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.chart-header {
    text-align: center;
    border-bottom: 2px solid rgb(247,143,42);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.chart-info {
    height: 10%;
    width: 100%;
    text-align: center;
}

.chart-container {
    height: 72%;
    width: 100%;
}

.loaderBG {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

.titleBox {
    font-size:18pt;
    width:100%;
    text-align:center;
    z-index:1;
    margin-top:15px;
}

.welcomebox {
    display:block;
    font-style: italic;
    text-align:center;
    width:100%;
}

.titleHR {
    width:80%;
    margin-bottom:50px;
    border-color: rgb(247,143,42);
    color: rgb(247,143,42);
    border: 1px solid;
}

.smallHR {
    width: 80%;
    border: 1px solid;
    border-color: rgb(247,143,42);
    color: rgb(247,143,42);
}

.tightHR {
    width: 100%;
    border-color: rgb(89,89,89);
    color: rgb(89,89,89);
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 5px;
}

.spacer {
    height: 20px;
}

.bigSpacer {
    height: 20px;
}

.availableCell {
    background-color: rgb(96,191,65);
    color:white;
}

.availableCell-inactive {
    background-color: rgba(96,191,65,.5);
    color:white;
}

.scheduled-interview-info {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wv-cell-date {
    width: 98%;
    text-align: right;
    margin-right: 2%;
}

.position-add-control {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pool-node {
    display: inline-block;
    width: 40%;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    padding-bottom: 4px;
    padding-top: 4px;
}

    .pool-node:active {
        background-color: #2ecc71;
        transform: translateY(4px);
    }


.interview-sch-node {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    display:inline-block;
    border-bottom: 2px solid;
    padding:2px;
    border-color: rgb(247,143,42);
}

.interview-sch-info-node {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding:2px;
    width:90%;
}

.hidden {
    display:none;
}

.ckable {
    transition: all .2s linear;
    cursor: pointer;
}

.ckable * {
    transition: all .2s linear;
}

    .ckable:hover {
        background-color: rgb(247,143,42);
        color: white;
    }

        .ckable:hover * {
            color:white;
            border-color: white;
        }

.cked {
    color: white;
    font-weight: bold;
    background-color: rgb(0,112,60) !important;
    box-shadow: 0px 0px 10px rgb(0,112,60) !important;
    border-radius: 50%;
}

.ckablef {
    transition: all .2s linear;
    cursor: pointer;
}

.ckablef div{
    transition: all .2s linear;
    cursor: pointer;
}

    .ckablef:hover {
        color: rgb(247,143,42);
    }

    .ckablef:hover *{
        color: rgb(247,143,42);
        border-color: white;
    }

.smallForm {
    width: 100%;
    text-align: center;
}

.smallFormFields {
    display: inline-block;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
    margin-top: 1em;
    padding: 1em;
}

.bigWidget {
    font-family: FontAwesome;
    font-size: 36pt;
    color: rgb(89,89,89);
}

.medWidget {
    font-family: FontAwesome;
    font-size: 24pt;
    color: rgb(89,89,89);
    display:inline-block;
}

.stdWidget {
    font-family: FontAwesome;
    font-size: 20pt;
    color: rgb(89,89,89);
}

.inline-widget {
    font-family: FontAwesome;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}

.inline-field {
    width: 65%;
}

.inline-field-ctnr {
    display:inline-block;
    margin-right: 10px;
}

.pageHeader {
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: white;
    position:relative;
    width:100%;
}

.clientLogo {
    color: #0F7848;
    font-size: 2em;
    font-family: FontAwesome;
    display:block;
    max-width:80%;
    height:auto;
    width:auto;
    margin:0 auto;
}

.companyLogo {
    display:none;
    max-width:80%;
    height:auto;
    width:auto;
}

.pageControls {
    text-align:center;
    z-index:10;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.vCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spanned {
    width: 100%;
}

.cycle-weekly-calendar {
    height: 50px;
    display: inline-block;
    width: 20%;
    vertical-align:bottom;
}

.title-weekly-calendar {
    color:rgb(89,89,89);
    font-family:Arial;
    font-size: 16pt;
}

.weekly-cal-title-cntr {
    width: 60%;
    text-align: center;
    display: inline-block;
    height:50px;
    vertical-align:bottom;
}

.wvHeader {
    display: table-cell;
    height: auto;
    margin-bottom: 1em;
    color: rgb(89,89,89);
}

.wvCalBody {
    width: 1500px;
    table-layout: fixed;
    display: table;
    color: rgb(89,89,89);
    border-spacing:2px;
    overflow-x:scroll;
}

.section-header {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

.field-toggler {
    text-align:center;
    width:30px;
    height:30px;
    display:inline-block;
    margin:2px;
    cursor:pointer;
    box-shadow: 0px 0px 5px rgb(89,89,89);
    position:relative;
    background-color: white;
}

    .field-toggler div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width:100%;
    }

.timenodes {
    text-align:left;
    width: 442px;
}

.timenode-bar {
    width:442px;
    height:3px;
}

.ampmGradient {
    background: -webkit-linear-gradient(left, rgba(255,193,37, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(255,193,37, .5),rgba(238,64,0,.5));
    background: -o-linear-gradient(left, rgba(255,193,37, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(255,193,37, .5),rgba(238,64,0,.5));
    background: -moz-linear-gradient(left, rgba(255,193,37, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(255,193,37, .5),rgba(238,64,0,.5));
    background: linear-gradient(to right, rgba(255,193,37, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(106, 184, 243, .5),rgba(255,193,37, .5),rgba(238,64,0,.5));
}

.time-AM {
    background-color:rgba(250, 183, 47, .5);
}

.time-PM {
    background-color:rgba(39, 110, 177, .5)
}

.block-container {
    text-align:center;
}

.block-repeater {
    display: block;
    width:98%;
    margin-left: auto;
    margin-right: auto;
}

.block-repeater-add {
    margin-top: 25px;
    display: block;
    width:100%;
    text-align:center;
}

.inline-text{
    font-family: Arial;
    color:rgb(89,89,89);
    display:inline-block;
}

.wvCell {
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid white;
    display: table-cell;
    position: relative;
    height: 120px;
    overflow: auto;
}

.halfWidth-container {
    display: block;
    width: 98%;
    margin-top: 10px;
    height: 300px;
    overflow: auto;
    color: rgb(89,89,89);
    margin-left:1%;
    margin-right:1%;
}

.formHeader {
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 2px solid rgb(247,143,42);
    padding-top: .5em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.formContent {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}

.repeaterField {
    width:98%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.interviewCard {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.interviewCardContents {
    border-radius: 10px;
    padding: 10px;
    display: block;
    position: relative;
}

.icardField {
    display: block;
    width: 220px;
    height: auto;
    text-align: left;
    font-size: .8em;
}

.icardFldWrap {
    vertical-align:top;
    display: inline-block;
    border-radius: 10pt;
    margin: 2pt;
    transition: all .2s linear;
}

.interviewNodeArea {
    width: 98%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10pt;
    overflow-wrap: break-word;
}

.dynamicContent {
    margin-top:15px;
    position: relative;
}

.smallCalWrapper {
    width: 98%;
    height: 405px;
    margin:0 auto;
    border-radius: 10px;
}

.smallCalPackage {
    width:100%;
    height:100%;
    position: relative;
    border-radius: 10px;
}

.smallCalContainer {
    width:100%;
    height:100%;
    position:absolute;
}

.smallCalLoader {
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 10px;
    z-index:100;
    transition: all .2s linear;
}


.modal-small {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 400px;
    margin-top:-200px;
    margin-left:-25%;
    padding:15px;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial;
    background-color: white;
    display: none;
    background-color: #fefefe;
    border: 1px solid #888;
}

.mobile-hscroll {
    width:100%;
    overflow: auto;
}

/***********styling classes*******************/

#adri-ras-calendar-control {
    color: white;
    font-family: Arial;
}




.content-area-styling {
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 fallback on horizontal gradient */
    font-family: Arial;
}

.int-info-container-styling {
}

.int-controls-styling {
}

.int-control-widget-styling {
    font-family: FontAwesome;
    font-size: 24pt;
    transition: all .2s linear;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    color: #414141;
}

.interview-card-styling {
    color: white;
}

.interview-card-text-styling {
    /*! font-weight: bold; */
    /*! font-size: 16pt; */
    text-align: left;
    color: #414141;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
}

.interview-card-field-styling {
    color: #9E9E9E;
    text-align: left;
    font-size: .8em;
}

.interview-card-row-styling {
    transition: all .2s linear;
}

.cal-button-styling {
    font-size: 20pt;
}

.add-widget-styling {
    font-size: 2em;
    font-family: FontAwesome;
    color: rgb(89,89,89);
    transition: all .2s linear;
}

    .add-widget-styling:hover {
        color: rgb(247,143,42);
    }

.remove-widget-styling {
    font-family: FontAwesome;
    color: red;
    transition: all .2s linear;
}

    .remove-widget-styling:hover {
        color: #D1002F;
    }

.accept-widget-styling {
    font-family: FontAwesome;
    color: rgb(66,229,71);
    transition: all .2s linear;
    font-size: 18pt;
}

    .accept-widget-styling:hover {
        color: white;
    }

.remove-widgetDynamic-styling {
    font-family: FontAwesome;
    color: red;
    transition: all .2s linear;
}

    .remove-widgetDynamic-styling:hover {
        color: rgb(202,99,86);
    }

.add-user-container-styling {
    border: 0;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
}

.add-user-widget-styling {
    font-family: FontAwesome;
    font-size: 56pt;
    color: rgb(89,89,89);
    transition: all .2s linear;
}

    .add-user-widget-styling:hover {
        color: rgb(247,143,42);
    }

.bigButton {
    padding: 15px 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 24pt;
    margin: 24pt auto;
    display: block;
}

.thinButton {
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    text-align: center;
    font-size: 1em;
    display: block;
    /*! margin-bottom: .3em; */
    /*! margin-left: 5%; */
    /*! margin-top: .4em; */
    margin: 4pt auto;
}


    .thinButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .thinButton span:after {
            content: '+';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .thinButton:hover span {
        padding-right: 25px;
    }

        .thinButton:hover span:after {
            opacity: 1;
            right: 0;
        }

.cal-title-styling {
    font-size: 20pt;
    letter-spacing: 1px;
}

.cal-inactive-cell-styling {
    color: rgb(165,165,165);
    border: 1px solid;
    transition: all .3s linear;
}

.cal-cell-styling {
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid;
    border-color: rgb(89,89,89);
    color:rgb(89,89,89);
}

    .cal-cell-styling:hover {
        background-color: rgb(247, 143, 42);
        color: white;
        font-weight: bold;
    }

.weekly-view-inactive-cell-styling {
    color: rgb(165,165,165);
    border: 1px solid;
}

.weekly-view-cell-styling {
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid white;
}

    .weekly-view-cell-styling:hover {
        background-color: #FFB034;
        color: white;
    }

.cal-cell-date-styling {
    font-size: 12pt;
}

.cal-row-styling {
}

.cal-body-styling {
    color: white;
}

.card-header-styling {
    color: #999998;
    border-bottom: 3pt solid #00CE8B;
}

.cal-header-row-styling {
    font-weight: normal;
    font-size: 12pt;
}

.cal-footer-row-styling {
}

.submit-button-styling {
    border: none;
    border-radius: 20pt;
    background-color: rgba(248, 163, 84, 1);
    font-weight: bold;
    font-family: Arial;
    font-size: 12pt;
    color: white;
}

.date-node-styling {
    color: #fff;
    background-color: #45C5EC;
}

.date-node-single-styling {
    color: #fff;
}

.time-node-styling {
    color: white;
    background-color: rgb(0,174,239);
    transition: all .2s linear;
}

    .time-node-styling:hover {
        background-color: rgb(247,143,42);
    }

.date-nodes-styling {
}
/*mark, next four classes have changes.*/
.form-event-styling {
    box-shadow: 0 0 1em #fff;
    border-radius: 6px;
}

.field-wrapper-styling {
    color: rgb(89,89,89);
    font-weight: 200;
}

.field-titleWrapper-styling {
    color: #444;
    font-weight: normal;
}

.field-spannedWrapper-styling {
    color: #444;
    font-weight: normal;
}

.form-section-styling {
}

.inputSmall-styling {
    font-size: 14pt;
    font-family: Arial;
    border: 1px solid #ccc;
}

.inputLarge-styling {
    font-size: 16pt;
    font-family: Arial;
    border: 1px solid #ccc;
}

.timeSelect-styling {
    border-color: #9fe4f8;
    background-color: transparent;
    color: white;
    font-family: Arial;
    font-size: 12pt;
}

    .timeSelect-styling option {
        color: white;
        background-color: #45C5EC
    }

.form-user-node-styling {
    box-shadow: 0 0 10px white;
}

.main-header-styling {
}

.logo-area-styling {
    color: #1C68B1;
}

.logo-areaCompany-styling {
    color: #0F7848;
}

.ui-user-node-info-styling {
}

.ui-user-node-styling {
    border: 0;
    transition: all .2s linear;
    box-shadow: 0 0 10px rgba(200, 201, 201, 0.5);
    background-color: white;
}

.ui-user-node-header-styling {
}

.ui-user-node-body-styling {
    font-weight: 300;
}

.ui-node-area-styling {
}

.form-repeater-ctrl-styling {
}

.new-event-title-styling {
    font-size: 20pt;
    font-weight: bold;
}

[nohighlight]::selection {
    background: none; /* Safari */
}

[nohighlight]::-moz-selection {
    background: none; /* Firefox */
}

.modal-overlay-styling {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-form-styling {
    display: none;
    background-color: #fefefe;
    border: 1px solid #888;
}

.ui-table-styling {
}

.ui-row-styling {
    transition: all .2s linear;
}

    .ui-row-styling:hover {
        color: white;
        background-color: rgb(165,165,165);
    }

.ui-cell-styling {
}

.ui-header-row-styling {
}

.ui-header-cell-styling {
}

.indicator-invalid-styling {
    background-color: rgb(178,34,34);
}

.indicator-interviewer-styling {
    background-color: rgb(238,64,0);
}

.indicator-candidate-styling {
    background-color: rgb(255,193,37);
}

.indicator-recruiter-styling {
    background-color: rgb(0,205,0);
}

.indicator-scheduled-styling {
    background-color: rgb(0,104,139);
}

/***********end styling classes***************/

/***********structural classes****************/

html,
body {
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 fallback on horizontal gradient */
    font-family: Arial;
    height: 100%;
    width:100%;
    margin: 0;
    overflow:hidden;
}

.content-area-struct {
    background-color: white;
    overflow:auto;
    height:100%;
}

.int-info-container-struct {
    width: 100%;
    position: relative;
    min-height: 75px;
}

.int-controls-struct {
    position: absolute;
    right: 5%;
    top: 1em;
    margin-right: 10px;
}

.int-control-widget-struct {
    cursor: pointer;
    margin-left: .3em;
}

.interview-card-struct {
    width: 30%;
    margin-left: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.interview-card-text-struct {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.interview-card-field-struct {
    display: block;
    width: 150px;
    height: auto;
}

.interview-card-row-struct {
    display: inline-block;
    border-radius: 10pt;
    margin: 2pt;
    border-color: black;
}

.inputSmall-struct {
    border-radius: 3pt;
    height: 14pt;
}

.inputLarge-struct {
    width: 100%;
    border-radius: 3pt;
    height: 24pt;
}

.cal-button-struct {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
    width: 20%;
    text-align: center;
}

.add-widget-wrapper {
    width: 100%;
    text-align: center;
    cursor: pointer;
    right: 0;
    display: inline-block;
    position: relative;
}

.add-widget-struct {
    text-align: center;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}

.remove-widget-struct {
    position: absolute;
    left: 100%;
    top: 2px;
    margin-left: -30px;
    cursor: pointer;
    font-size:18pt;
}

.accept-widget-struct {
    position: absolute;
    width: 25px;
    left: 100%;
    top: 2px;
    margin-left: -30px;
    cursor: pointer;
}

.remove-widgetDynamic-struct {
    position: relative;
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.submit-button-struct {
    width: 150px;
    height: 50px;
}

.cal-title-struct {
    width: 60%;
    text-align: center;
    display: inline-block;
}

.cal-cell-struct {
    display: table-cell;
    height: 15%;
    vertical-align: middle;
}

.dashboard-date-browser-struct {
    width: 100%;
}

.dashboard-scheduling-struct {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 8pt;
}

.dashboard-sub-scheduling-struct {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    height: 300px;
    overflow: auto;
    background-color: #044972;
    color: white;
}

.weekly-view-cell-struct {
    display: table-cell;
    position: relative;
    height: 120px;
    overflow: auto;
}

.weekly-view-inactive-cell-struct {
    position: relative;
    display: table-cell;
    height: 120px;
}

.cal-inactive-cell-struct {
    display: table-cell;
    height: 15%;
    vertical-align: middle;
}

.cal-cell-date-struct {
    width: 100%;
    text-align: center;
}

.cal-row-struct {
    width: 100%;
    text-align: center;
    display: table-row;
}

.cal-header-row-struct {
    position: relative;
    text-align: center;
    display: table-row;
    margin-bottom: 0;
}

.cal-footer-row-struct {
    width: 100%;
    text-align: center;
    margin-top: .4em;
    display: block;
}

.cal-wrapper-struct {
    width: 500px;
    cursor: pointer;
    height: 405px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin-right: 80px;
}

.cal-body-struct {
    width: 98%;
    height: 75%;
    table-layout: fixed;
    display: table;
    margin: 0 auto;
}

.cal-header {
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    width: 14%;
}

.cal-monthHeader-struct {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: rgb(89,89,89);
    padding: 1em;
}

.card-header-struct {
    display: block;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}

.date-node-struct {
    width: 100%;
    margin: 0 auto;
    border-radius: 4pt;
    padding: 10px;
}

.time-node-struct {
    width: 120px;
    border-radius: 4pt;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.date-node-single-struct {
    width: 60%;
    padding: 0px 25px 5px 25px;
    display: inline-block;
    margin: 3pt;
    text-align: left;
    overflow: hidden;
    opacity: 1;
    border-bottom: solid white 2px;
    position: relative;
}

    .date-node-single-struct:hover {
        opacity: 1;
    }

.user-date-node-struct {
    width: 100%;
    overflow: auto;
    position: absolute;
    height: 3em;
    max-height: 150px;
    bottom: 0;
    left: 0;
    background: rgb(0,112,60);
    opacity: .85;
    transition: all 0.15s;
}

    .user-date-node-struct:hover .date-node-single-struct {
        opacity: 1;
    }

    .user-date-node-struct:hover {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }


.date-nodes-struct {
    width: 100%;
    margin: 0 auto;
    padding-top: 1em;
}

.timeSelect-struct {
    padding: 3pt;
    border-radius: 4pt;
    width: auto !important;
}


.form-event-struct {
    display: block;
    width:80%;
    margin:0 auto;
}

.form-section-struct {
    padding: 0px 0px 0px 0px;
    position: relative;
    display: block;
    zoom: 1;
    clear: both;
    margin: 0px;
}

.field-wrapper-struct {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 12px 12px 12px 0px;
    text-align: center;
    margin-left: 2%;
}

    .field-wrapper-struct input, select {
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        box-shadow: none;
        height: 2em;
        font-size: 100%;
    }

    .field-wrapper-struct span {
        margin-bottom: 10px;
        font-family: Arial;
        display: block;
        float: none;
        text-align: left;
        font-size: 1em;
    }

.field-spannedWrapper-struct {
    width: 100%;
    padding: 12px 0px;
    display: block;
    position: relative;
}

    .field-spannedWrapper-struct span {
        color: #444;
        margin-bottom: 4pt;
        font-family: Arial;
        display: block;
        float: none;
        text-align: left;
        width: auto !important;
    }

    .field-spannedWrapper-struct input {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        width: 100% !important;
        height: 14pt;
        border: 1px solid #ccc;
    }

.fa-user-circle-o {
    color: #0F7848;
}

.field-titleWrapper-struct {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 0px;
}

    .field-titleWrapper-struct span {
        color: #444;
        margin-left: 5pt;
        margin-bottom: 4pt;
        font-family: Arial;
        display: block;
        float: none;
        text-align: left;
        width: auto !important;
    }

    .field-titleWrapper-struct input {
        height: 24pt;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 4px 3px 2px 3px;
        width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width: initial !important;
    }

.main-header-struct {
    text-align: center;
    height: 56px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: white;
    position:relative;
    margin: 0;
}

.logo-area-struct {
    margin-left: 5%;
    margin-top: .3em;
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 2em;
    display: none;
}

.logo-areaCompany-struct {
    font-size: 2em;
    font-family: FontAwesome;
    max-height: 3em;
    max-width: 4em;
    margin-right: 55%;
    position: absolute;
    top: 15px;
    left: 2.5em;
}

.add-user-container-struct {
    width: 20%;
    padding: 10px;
    display: inline-block;
    margin: 2%;
    position: relative;
    height: 239px;
    vertical-align: top;
}

.add-user-widget-struct {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.form-user-node-struct {
    width: 90%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.form-user-node-header-struct {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.3em;
    color: white;
    box-shadow: 0px 3px 1px -1px #FFB034;
    margin-top: .5em;
    width: 94%;
    margin-left: 2%;
    padding: 0;
}

.ui-user-node-info-struct {
    margin-bottom:50px;
}

.ui-user-node-struct {
    width:90%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    position: relative;
    vertical-align: top;
    color: #414141;
}

.ui-user-node-header-struct {
    margin: 10%;
    vertical-align: baseline;
    text-align: left;
    font-size: 18pt;
}

.ui-user-node-struct hr {
    display: block;
    border: none;
    width: 30px;
    background: #efefef;
    margin-bottom: 10%;
    margin-left: 10%;
    height: 2px;
}

.ui-user-node-body-struct {
    font-weight: 300;
    font-size: 12pt;
    text-align: left;
    margin-left: 10%;
    display: block;
}

.ui-node-area-struct {
    display: block;
    width: 90%;
    text-align: center;
    background-color: #F9F9F9;
    margin: 0 auto;
    border-radius: 10pt;
    min-width: 1200px;
    overflow-wrap: break-word;
}

.form-repeater-ctrl-struct {
    cursor: pointer;
    margin-left: 5%;
    margin-top: 2%;
}

    .form-repeater-ctrl-struct:hover {
        color: #1981d6;
    }

.new-event-title-struct {
    position: relative;
    height: 24pt;
    width: 100%;
    margin-bottom: .6em;
    padding: 4pt;
}

.modal-overlay-struct {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-form-struct {
    position: fixed;
    top: 2%;
    left: 10%;
    width: 80%;
    height: 95%;
    max-height: 97%;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial;
    background-color: white;
}

.ui-table-struct {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 1px;
}

.ui-row-struct {
    display: table-row;
    cursor: pointer;
}

.ui-cell-struct {
    display: table-cell;
    width: 150px;
    vertical-align: middle;
}

.ui-header-row-struct {
    display: table-row;
}

.ui-header-cell-struct {
    display: table-cell;
}

.indicator-struct {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 auto;
}

/***********end structural classes************/
