/* client palette start */
.pBG {
    background-color:#e5e5e5;
}

.mainBG {
    background-color: rgb(35,132,212);
}

.secBG {
    background-color: rgb(24,94,150);
}

.brightBG {
    background-color:rgb(128,0,255);
}

.hlBG {
    background-color:rgb(247,143,42);
}

.hltxt {
    color:rgb(247,143,42);
}

.maintxt {
    color:rgb(89,89,89);
}

.negTxt {
    color:white;
}

.attn-text {
    color:rgb(247,143,42);
    font-weight: bold;
}

.mainHTxt {
    color: rgb(35,132,212);
    font-weight: bold;
}

.secHTxt {
    color: rgb(24,94,150);
    font-weight: bold;
}

.brightTxt {
    color:rgb(128,0,255);
    font-weight: bold;
}

.lgTxt {
    padding-top:20px;
    font-size: 24pt;
}

.loadTxt {
    color:white;
    font-weight:bold;
    font-size: 20pt;
}

.infoTxt {
    font-size: 20pt;
    color:rgb(89,89,89);
}

.fixedHgt {
    height:25px;
}

.warningTxt {
    color:red;
}

.ckable:hover {
    background-color: rgb(247,143,42);
    color: white;
}

.cked {
    color: white;
    font-weight: bold;
    background-color: rgb(35,132,212) !important;
    box-shadow: 0px 0px 10px rgb(35,132,212) !important;
    border-radius: 50%;
}

.ckablef:hover {
        color: rgb(247,143,42);
    }

    .ckablef:hover *{
        color: rgb(247,143,42);
        border-color: white;
    }


    .titleHR {
    width:80%;
    margin-bottom:50px;
    border-color: rgb(247,143,42);
    color: rgb(247,143,42);
    border: 1px solid;
}

.smallHR {
    width: 80%;
    border: 1px solid;
    border-color: rgb(247,143,42);
    color: rgb(247,143,42);
}

.interview-sch-node {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    display:inline-block;
    border-bottom: 2px solid;
    padding:2px;
    border-color: rgb(35,132,212);
}

.formHeader {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.3em;
    border-bottom: 2px solid rgb(247,143,42);
    padding-top: .5em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.chart-header {
    text-align: center;
    border-bottom: 2px solid rgb(247,143,42);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.user-date-node {
    width: 100%;
    overflow: auto;
    position: absolute;
    height: 3em;
    max-height: 150px;
    bottom: 0;
    left: 0;
    background: rgb(35,132,212);
    opacity: .85;
    transition: all 0.15s;
}

    .time-node:hover {
        background-color: rgb(35,132,212);
    }

    .add-user-widget:hover {
        color: rgb(35,132,212);
    }

    .add-widget:hover {
        color: rgb(35,132,212);
    }

.cal-monthHeader {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: rgb(89,89,89);
    padding: 1em;
}

.field-wrapper {
    color: rgb(89,89,89);
    font-weight: 200;
}


.cal-cell {
    cursor: pointer;
    transition: all .3s linear;
    border: 1px solid;
    border-color: rgb(89,89,89);
    color:rgb(89,89,89);
}


.add-user-widget{
    font-family: FontAwesome;
    font-size: 56pt;
    color: rgb(89,89,89);
    transition: all .2s linear;
}


.add-widget{
    font-size: 2em;
    font-family: FontAwesome;
    color: rgb(89,89,89);
    transition: all .2s linear;
}

.halfWidth-container {
    display: inline-block;
    width: 48%;
    margin-top: 10px;
    height: 325px;
    overflow: auto;
    color: rgb(89,89,89);
    margin-left:1%;
    margin-right:1%;
}

.inline-text{
    color:rgb(89,89,89);
    display:inline-block;
}


.field-toggler {
    text-align:center;
    width:30px;
    height:30px;
    display:inline-block;
    margin:2px;
    cursor:pointer;
    box-shadow: 0px 0px 5px rgb(89,89,89);
    position:relative;
    background-color: white;
}

.wvHeader {
    display: table-cell;
    height: auto;
    margin-bottom: 1em;
    color: rgb(89,89,89);
}

.wvCalBody {
    width: 100%;
    table-layout: fixed;
    display: table;
    color: rgb(89,89,89);
    border-spacing:2px;
}

.title-weekly-calendar {
    color:rgb(89,89,89);
    font-size: 20pt;
}

.tightHR {
    width: 100%;
    border-color: rgb(89,89,89);
    color: rgb(89,89,89);
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 5px;
}

.bigWidget {
    font-family: FontAwesome;
    font-size: 36pt;
    color: rgb(89,89,89);
}

.medWidget {
    font-family: FontAwesome;
    font-size: 24pt;
    color: rgb(89,89,89);
    display:inline-block;
}

.stdWidget {
    font-family: FontAwesome;
    font-size: 20pt;
    color: rgb(89,89,89);
}
/* client pallette end */